*{
	margin:0 auto;
	font-family: 'Spectral SC',serif;
	color:#1F363D;
	/*background-color: #EBEBEB;*/
}
body{
	
	justify-content: center;
	align-items: center;

}

.form{
    width:500px;
  /*  border: 1px solid #1F363D;
    border-radius: 5px;
    box-shadow: 5px 5px #8D99AE;*/
    text-align: center;
    padding:50px;
    margin-top:80px;
    /*background-color: #B7D3F2;*/


    }
.header{
    width:500px;
  	text-align: center;
  	font-size: 25px;

}
h2{
	font-size: 15px;
}
.got-image{
	width:500px;
	height:300px;

}
#image{
	margin: 0 auto;
	padding:20px 0px;
}
