*{
	margin:0 auto;
	font-family: 'Spectral SC',serif;
}
body{
	background-image: url('./images/got-wallpaper.jpg');
	background-size: cover;
}
.form{
    width:500px;
    border-radius: 5px ;
    color: #EBEBEB;
    text-align: center;
    padding:50px;
    margin-top:200px;
    background-color: rgba(24,25,27,.7);
}
.header{
    width:500px;
  	text-align: center;
  	font-size: 25px;
}
h2{
	font-size: 30px;
}
.got-image{
	width:500px;
	height:300px;
}
#image{
	margin: 0 auto;
	padding:20px 0px;
}
#name{
	width:300px;
	border-radius: 2px;
	font-size:15px;

}
#selMonth, #selYear{
	font-size: 15px;
	margin: 10px 0px;
	padding:10px 0px;
}
#enter-button{
	border-radius: 2px;
	font-size: 15px;
}




